.footer {
    text-align: center;
    /* background-color: #f4f2ee; */
  }
  
  .divider {
    width: 98%;
    height: 0px;
    background-color: #F6F6F6; 
    margin: 16px 0;
    /* border: 0; */
  }
  